.intro__text-list {
    margin: 32px auto 0;
    max-width: 690px;
    padding: 0;
}
@media screen and (max-width: 768px){
    .intro__text-list {
        max-width: 720px;
    }
}
@media screen and (max-width: 375px){
    .intro__text-list {
        max-width: 288px;
    }
}