@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    margin: 0 auto 92px;
    max-width: 1184px;
    min-height: calc((100vw) * 0.625);
    background-image: url(../../images/__background.jpg);
    background-size: cover;
    background-position: center;
    object-fit: fill;
}